/* work sans font */
 @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner:wght@700&family=Inter&family=Lobster&family=Merriweather&family=Noto+Sans&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Splash&family=Titillium+Web&family=Work+Sans&display=swap");

 /* Global Style */
*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/* header and banner style */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/banner/banner1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.banner-heading {
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
    text-align: right;
    color: #151414;
    margin: 0 0 24px 552px;
}
  
.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
    margin: 0 0 32px 694px;
}
.banner-content span {
    display: flex;
    justify-content: end;
}
  
.banner-btn {
    width: 137px;
    height: 52px;
    background: #f15b22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
/* header style end */
  
/* faliures section style */
.failures {
    display: flex;
    align-items: center;
    gap: 87px;
    margin-top: 130px;
}
.failures img {
    width: 569px;
    height: 723.3px;
}
  
.failures-headding {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin: 0 104px 24px 0;
}
.failures-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin: 0 125px 16px 0;
}
  
.failures ul {
    list-style-position: inside;
}
.failures ul li {
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
  
.failures-content ul > span {
    display: flex;
    align-items: center;
    gap: 3px;
}
  
.failures ul span img {
    width: 18px;
    height: 20px;
}
/* faliures section style end*/

/* plans section style start */

  
.plans h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
    margin-top: 100px;
}
  
.plans-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.plans-item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
}
.plans-item img {
    width: 92.96px;
    height: 92.96px;
}
  
.plans-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: #151414;
}
  
.plans-description {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #737272;
}
/* plans section style ended */